.itinerarylistparent {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #14446b;
  border-radius: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: default;
}

.itinerarylisttitle {
  font-size: 15px;
}

.route-itinerary {
  font-weight: bold;
}

.itinerary-name {
  font-size: 14px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #91a5b0;
}

.number-of-trips-in-itinerary {
  font-size: 14px;
  margin-top: 5px;
  color: #30b566;
}

.trips-list {
  margin-top: 5px;
}

.departure-time, .departure-time-selected {
  font-size: 14px;
  cursor: pointer;
  padding-right: 10px;
}

.departure-time {
  color: #91a5b0;
}

.departure-time-selected {
  color: #30b566;
  font-weight: bold;
}

.loading-itineraries {
  padding-top: 5px;
  font-size: 14px;
}