.leaflet-popup-close-button, .leaflet-popup-tip {
  display: none;
}

.leaflet-popup {
  padding: 0px;
  border: 2px solid #14446b;
  border-radius: 5px;
  cursor: default;
}

.leaflet-popup-content-wrapper {
  padding: none;
  border-radius: 5px;
}

.leaflet-popup-content {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;
  max-width: 250px;
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 3px;
  padding-left: 3px;
  vertical-align: center;
  background-color: white;
  margin: 5px;
}